---
import Layout from '../layouts/Layout.astro';
import Review from '../components/review.astro'

---

<Layout title="Review">
<main class="container mx-auto py-10" transition:name="card">
   <section class="text-center">
   	<Review />
   </section>
</main>
</Layout>


